

        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1561692619443-13 {top: 0px; left: -15px; height: 210px; width: 30px; background-color: rgb(255, 243, 154); border-color: rgb(0, 0, 0);
        }
        .silex-id-1561693581089-21 {top: 400px; left: 240px; height: 140px; width: 310px;
        }
        .silex-id-1561693695826-22 {top: 400px; left: 5px; height: 140px; width: 230px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1561690013776-12 {top: 160px; left: 20px; height: 210px; width: 530px; background-color: rgb(250, 255, 221); border-color: rgb(133, 133, 133); border-radius: 20px; border-width: 0px; border-style: solid;
        }
        .silex-id-1561693049206-14 {top: 185px; left: 10px; height: 15px; width: 15px; font-size: 12px; text-align: center; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1561693226904-16 {top: 215px; left: 10px; height: 15px; width: 15px; font-size: 12px; text-align: center; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1561693241273-17 {top: 245px; left: 10px; height: 15px; width: 15px; font-size: 12px; text-align: center; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1561693247824-18 {top: 275px; left: 10px; height: 15px; width: 15px; font-size: 12px; text-align: center; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1561693252633-19 {top: 305px; left: 10px; height: 15px; width: 15px; font-size: 12px; text-align: center; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1561693436209-20 {top: 335px; left: 10px; height: 15px; width: 15px; font-size: 12px; text-align: center; font-family: Verdana, Geneva, sans-serif;
        }
        .silex-id-1561693958286-25 {top: 10px; left: 0px; height: 35px; width: 550px; font-size: 30px; text-align: center; font-family: "Courier New", "Courier New", Courier, monospace; font-weight: bold;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-family: Georgia, Georgia, serif;
        }
        .silex-id-1561694123192-26 {top: 60px; left: 5px; height: 80px; width: 540px; text-align: left; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        .silex-id-1561689749008-10 {top: 330px; left: 40px; height: 20px; width: 20px; font-size: 14px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1561688959914-3 {top: 240px; left: 40px; height: 20px; width: 40px; font-size: 14px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1561689575485-6 {top: 240px; left: 90px; height: 20px; width: 320px; font-size: 14px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1561689605593-7 {top: 240px; left: 420px; height: 20px; width: 20px; font-size: 14px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1561689814337-11 {top: 180px; left: 40px; height: 20px; width: 170px; font-size: 14px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1561689652708-8 {top: 270px; left: 90px; height: 20px; width: 250px; font-size: 14px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1561689707688-9 {top: 300px; left: 90px; height: 20px; width: 100px; font-size: 14px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1561688959914-3 > input {text-align: left; border-color: rgb(115, 115, 115); border-width: 1.5px; border-style: dotted;
        }
        .silex-id-1561689575485-6 > input {text-align: left; border-color: rgb(115, 115, 115); border-width: 1.5px; border-style: dotted;
        }
        .silex-id-1561689605593-7 > input {text-align: left; border-color: rgb(115, 115, 115); border-width: 1.5px; border-style: dotted;
        }
        .silex-id-1561689652708-8 > input {text-align: left; border-color: rgb(115, 115, 115); border-width: 1.5px; border-style: dotted;
        }
        .silex-id-1561689707688-9 > input {text-align: left; border-color: rgb(115, 115, 115); border-width: 1.5px; border-style: dotted;
        }
        .silex-id-1561689749008-10 > input {text-align: left; border-color: rgb(115, 115, 115); border-width: 1.5px; border-style: dotted;
        }
        .silex-id-1561689814337-11 > input {text-align: left; border-color: rgb(115, 115, 115); border-width: 1.5px; border-style: dotted;
        }
    